{% extends 'base.html.twig' %}

{% block title %}Hello PrizeController!
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <h1>
            Ваш приз
            {{ thing.name }}✅
        </h1>

        <h3>Скоро будет отправлен
            {{ user.username }}
            по адресу -
            {{ user.address}}
        </h3>

        {% include "inc/play.html.twig" with {
            signature: "Cиграть еще!"
        }%}

    </div>
{% endblock %}
