<form action="{{ path('ball')}}" method="post">

    <input type="hidden" name="ballsAmount" value="{{ ballsAmount }}"/>

    <button type="submit" class="btn btn-warning btn-lg  m-2">Зачислить баллы</button>


</form>
