<form action="{{ path('money-to-ball')}}" method="post">

    <input type="hidden" name="moneyId" value="{{ moneyId }}"/>

    <button type="submit" class="btn btn-secondary btn-lg m-2">Перевести в Баллы по курсу
        {{ course }}
    </button>
</form>
